body {
	margin: 0px;
	font-family: "Be Vietnam", Sans-serif;
	font-size: 16px;
}

.contenedor {
	width: 100%;
	max-width: 1129px;
	margin: 65px auto 65px;
}

.logo {
	line-height: 0;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
}

.menu nav a {
	color: #242E52;
	padding-right: 28px;
	text-decoration: none;
	font-size: 0.8125em;
}

.menu nav a:last-child {
	padding-right: 0px;
}

.graficos {
	margin: 114px 0 0;
}

.graficos article {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titulo {
	margin: 0 0 28px;
	color: #232C50;
	font-size: 3.625em;
	font-weight: 700;
	line-height: 66px;
	letter-spacing: -0.035em;
}

.info {
	color: #000000;
	font-size: 1.035em;
	font-weight: 500;
	line-height: 26px;
	margin: 0 0 28px;
}

.boton {
	color: #FFFFFF;
	font-size: 0.82375em;
	font-weight: 500;
	background-color: #F3603B;
	border: 0;
	border-radius: 50px 50px 50px 50px;
	padding: 12.5px 30.5px 12.5px 30.5px;
	box-shadow: 	0px 4px 7px 1px rgba(243, 96, 59, 25%);
}

.acerca-de {
	margin: 114px 0 0;
	display: flex;
	justify-content: space-between;
}

.acerca-de article {
	width: 50%;
}

.elemento-lista {
	display: flex;
	align-items: start;
	margin-bottom: 42px;
}

.elemento-lista:last-child {
	margin-bottom: 0;
}

.sub {
	margin: 0 0 36px;
	color: #232851;
	font-size: 2.25em;
	font-weight: 700;
	line-height: 41.26px;
}

.texto {
	color: #000000;
	font-weight: 500;
	line-height: 24.18px;
	margin: 0 0 28px;
}

.numero {
	font-size: 1em;
	color: #FFFFFF;
	font-weight: 700;
	line-height: 23.38px;
	background-color: #F3603B;
	border-radius: 50px 50px 50px 50px;
	border: 0;
	padding: 10px 25px 10px 25px;
	margin-right: 23px;
}

#h3 {
	color: #323851;
	font-size: 1em;
	font-weight: 700;
	line-height: 23.38px;
	margin: 0 0 18px;
}

#parrafo {
	margin: 0;
	color: #B3B2B7;
	font-size: 1.01875em;
	font-weight: 500;
	line-height: 25.52px;
}

.opiniones {
	margin: 125px 0 0;
}

.said {
	margin: 0 0 109px;
	color: #242E53;
	font-size: 2.450625em;
	font-weight: 700;
	line-height: 61.41px;
	letter-spacing: -0.01em;
	text-align: center;
}

.lista-opiniones {
	display: flex;
	align-content: flex-start;
	margin-bottom: 45px;
}

.lista-opiniones article {
	width: 33.3333%;
	background-color: #FAFAFA;
	text-align: center;
	padding: 0px 21px 38px 21px;
}

.lista-opiniones article img {
	margin-top: -35px;
}

h5 {
	margin: 21px 0 21px;
	color: #3F4868;
	font-size: 1.004375em;
	font-weight: 700;
	line-height: 25.17px;
	letter-spacing: -1;
}

.parrafo2 {
	margin: 0;
	color: #B9B9C1;
	font-size: 1em;
	font-weight: 500;
	line-height: 25.06px;
}

.centrar-boton {
	text-align: center;
}

.cartel {
	background-color: #F3613C;
	margin: 180px 0 0;
	display: flex;
	justify-content: space-between;
}

.cartel article {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer1 {
	margin: 0;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 700;
	line-height: 47.84px;
	letter-spacing: -0.005em;
}

.botonfooter {
	color: #F3603B;
	font-size: 13.18px;
	font-weight: 500;
	line-height: 19.26px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
	background-color: #FFFFFF;
	border: 0;
	border-radius: 50px 50px 50px 50px;
	padding: 12.5px 30.5px 12.5px 30.5px;
}

.footer {
	background-color: #1E1E26;
}

.footer-distributed {
	padding: 52px 0 52px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.logo-footer {
	margin-bottom: 66px;
}

.footer-icons a {
	margin-right: 8px;
}

.footer-icons a:last-child {
	margin: 0;
}

.footer-links {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-links li {
	margin-bottom: 12px;
}

.footer-links li:last-child {
	margin: 0;
}

.footer-links a {
	color: #FFFFFF;
	text-decoration: none;
}

#formulario {
	margin-bottom: 74px;
}

#formulario input {
	border: 0;
	border-radius: 50px 50px 50px 50px;
	padding: 11.5px 22.5px 11.5px 22.5px;
}

#formulario button {
	border: 0;
	padding: 11.5px 22.5px 11.5px 22.5px;
}

.footer-company-name {
	margin: 0px;
	color: #8C8C94;
	font-size: 0.78125em;
	text-align: right;
	line-height: 18.26px;
}


/*verion mobile*/

@media (max-width: 375px) {
		
	.menu nav a {
		display: inline;
		font-size: 2rem;
	}
	
	.menu nav a:last-child {
		padding-right: 0px;
	}
	
	.graficos article {
		flex-direction: column-reverse;
		width: 100%;
		
	}
	.graficos img {
        height: 290px;
        margin: 0 auto
    }
	
	#h3 {
        width: 100%;
    }

    #parrafo {
        text-align: left;
        margin-left: 10px
    }

    /*.items span {
        text-align: left;
        position: relative;
        right: 10px
    }*/

	.opiniones {
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
    }

	.contenedor {
        text-align: center;
    }

	.footer-links{
		justify-content: space-around;
	}

	.logo-footer {
		display: flex;
		justify-content: center;
		margin-top: 90px;
		margin-bottom: 90px;
	}

	.footer-icons {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}

	.footer-icons img {
		height: 35px;
		margin: 0 15px;
	}

	.footer-links li {
		margin-top: 15px;
	}
	
	